@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin daisyui;

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth
}


@layer components {
  .menu-item {
    @apply flex items-center gap-4 relative;
  }

 .nav-item {
  @apply font-bold relative p-2 before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-0 before:h-[4px] before:bg-bp_green-400 before:transition-all duration-1000 hover:before:w-full;
}

  .active-nav::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #22c55e; /* bp_green-400 */
  }
  .card-options {
    @apply bg-transparent text-bp_neutral-50  border border-bp_neutral-600 rounded-md py-1 px-2;
  }

  .card-profile {
    @apply space-y-6 p-6 border border-bp_neutral-600 rounded-xl bg-bp_neutral-800 text-bp_neutral-50 ;
  }

  .title-h1 {
    @apply text-2xl md:text-3xl font-bold;
  }
  .title-h2 {
    @apply text-xl md:text-2xl font-semibold;
  }

  .menu-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #F7F7F7;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
  }
  
  .menu-item:hover:after {
    width: 100%;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Track color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #555; /* Thumb color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; /* Thumb hover color */
}

/* Optional: Add styles for horizontal scrollbars */
::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #555;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #777;
}

.ant-modal{ 
  @apply !pb-0
}

.ant-modal-content {
  @apply !bg-bp_neutral-800 !text-white !border !border-white !rounded-md !pb-0; 
}

.ant-modal-close-x {
  @apply !text-white ;
}